{% extends 'temp/user.html' %}
{% block base %}
<html>
<head>
	<title>view_approved_question</title>
</head>
<body>
<center>

<form method="post">
    {% csrf_token %}
    <input type="text" name="pp">
    <input type="submit" name="search" value="search" class="badge-dark">
</form>

	<table border="2" class="table table-striped">
		<tr>
{#            <th>Moderator Name</th>#}
			<th>Question</th>
			<th>category</th>
		</tr>
        {% for i in x %}
		<tr>
{#            <td>{{ i.moderator.moderator_name }}</td>#}
            <td>{{ i.question }}</td>
			<td>{{ i.category }}</td>
			
		</tr>
			{% endfor %}
	</table>
</center>
</body>
</html>
{% endblock %}